body {

    margin:0px;

}


.profil-alani {
    width:100%;
    background-color: red;
    height:1000px;
}

.profil-bg {
    width:100%;
   height:200px;
}

.profil-info {
    width:100%;
    background-color:#111;
    height:50px;
}


.profil-icerik {
    width:100%;
    margin-top:10px;
    border:1px solid #e2e2e2;
    height:500px;
    background-color: #fff;
    display: inline-flex;
}

.profil-icerik-sol {
    width:30%;
    margin-left:1%;
    height:500px;
    background-color: orange;
    display:inline-table;
}

.profil-icerik-sol-card {
    width:90%;
    margin-left:5%;
    margin-top:10px;
    background-color: rosybrown;
    height:200px;
    border:1px solid #e2e2e2;
}

.profil-icerik-sol-card-baslik {
    background-color:#111;
    color:#fff;
    padding:5px;
}

.profil-icerik-sag {
    width:67%;
    margin-left:1%;
    height:500px;
    background-color: purple;
    display:inline-table;

}